@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: whitesmoke;
}
body{ 
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='775' height='93' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='2.4' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}


.header {
    color: whitesmoke;
    height: 100px;
    margin-left: 10%;
    margin-bottom: 2px;
}
.header h1 { 
    font-size: 50px;
}

.headbox {
    top: 0;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    height: 700px;
    left: 50%;
    

}


.mainContent p { 
    text-align: justify;
}

.headbox h1 {
    margin-top: 30px;
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    margin-bottom: 0;
    position: relative;
    animation-name: name;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes name {
    0% {
        right: -10000px;
    }

    100% {
        right: 0;
    }
}

.headbox hr {

    margin-top: 20px;
    width: 1000px;
    background-color: whitesmoke;
    height: 10px;
    animation-name: hr;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes hr {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


nav {
    position: absolute;
    left: 89%;


}

nav ul {

    display: flex;

    flex-direction: column;

    list-style: none;


}

nav li {
    padding: 5%;
    text-align: center;
    font-weight: bold;

}

nav a {
    font-size: larger;
    position: relative;
    display: block;
    padding: 2rem 0;
    color: whitesmoke;
    text-decoration: none;
    transition: 0.5s;
    white-space: nowrap;
}

nav a::after {
    position: absolute;
    content: '';
    top: 4rem;
    right: 0;
    background-color: white;
    width: 0%;
    height: 2px;
    transition: width 0.3s;
}

nav a:hover::after {
    width: 100%;
}



.contactContainerBox{
    margin-left: 10%;
    float: left;
    width: 75%;
    height: 60%;    
    background-color: whitesmoke;
    border: none;
    border-radius: 25px;
    position: absolute;
}
.contactContainerBox p {
    color: black;
    font-size: 30px
}

fieldset { 
    border: none;
}

.contactContainerBox { 
    display: grid;
    grid-template-columns: repeat(2,50%);
    padding: 20px;


}

.contactContainerBox label { 
    color: black;
}

.contactContainerBox input { 
    border: none;
    border-bottom: 2px solid black;
    color: black;
    background-color: whitesmoke;
    outline: none;
}

textarea { 
    background-color: whitesmoke;
    color: black;
}

.areaTwo { 
    text-align: center;
}

.areaOne { 
    margin: auto;
    text-align: center;

}

@media (max-width: 400px ) {

    .contactContainerBox { 
        display: flex;
        flex-wrap: wrap;
        margin-top: 50%;
        height: 100%;
    }
    nav ul {
        position: absolute;
        left: -70vw;
        justify-content: center; 
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    .header h1 { 
        font-size: 50px;
    }
}


